
<div class="main-div">
  <div class="card cad-xxl-stretch w-75">
    <div class="card-body">
      <ngx-datatable
#mydatatable
class="material"
[headerHeight]="50"
[columnMode]="ColumnMode.force"
[footerHeight]="50"
[rowHeight]="75"
[limit]= "10"
[rows]="data"
>

<ngx-datatable-column name="ilName" [sortable]="false">
  <ng-template ngx-datatable-header-template>
    <span>İl adı</span>
  </ng-template>
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >
    <span
      title="Double click to edit"
      (dblclick)="enableEdit(row,rowIndex,value)"
      *ngIf="!editing[rowIndex]"
    >
      {{ row.il_name }}
    </span>
    <mat-form-field
    *ngIf="editing[rowIndex]"

    [style.width.%]="100"
    >
      <mat-label>İller</mat-label>
      <mat-select (openedChange)="closeSelectIl($event)"  [placeholder]="'İl Seçiniz'"  required [(ngModel)]="row.il_id" (selectionChange)="ilChangeSelected($event.value, row,value)"
      >
        <input class="w-100 p-5 border border-transparent sticky"
        (keydown.enter)="$event.preventDefault()"
        (keyup)="onKeyIl($event.target)"
        (keydown)="$event.stopPropagation()"
        >
        <mat-option> Sıfırla</mat-option>

        <mat-option *ngFor="let temp of ilData" [value]="temp.id" [class.hide-select]="ilSearchText !== '' && temp.name.toLocaleUpperCase('tr-TR').indexOf(ilSearchText.toLocaleUpperCase('tr-TR')) === -1">{{temp.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="ilceId" [sortable]="false">
  <ng-template ngx-datatable-header-template>
    <span>İlçe kodu</span>
  </ng-template>
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >
    <span
      title="Double click to edit"
      (dblclick)="enableEdit(row,rowIndex,value)"
      *ngIf="!editing[rowIndex]"
    >
    {{row.id}}

    </span>
    <div *ngIf="editing[rowIndex]">
      <!-- <mat-select (openedChange)="closeSelectWorkTemp($event)"  [(ngModel)]="row.workTemplate.workTemplateId" (selectionChange)="shiftChangeSelected($event.value, row,value)" -->
      <!-- <mat-form-field [style.width.%]="100" *ngIf="editing[rowIndex]" class="d-flex align-items-center">
        <mat-label>Organizasyon</mat-label>

        <mat-select (openedChange)="closeSelectUnit($event)" [placeholder]="'Hedef Organizasyon Seçiniz'" required [(ngModel)]="row.targetUnitParent.id" (selectionChange)="targetUnitChangeSelected($event.value,row,value)">
          <input class="w-100 p-5 border border-transparent sticky"
          (keydown.enter)="$event.preventDefault()"
          (keyup)="onKeyTargetUnit($event)"
          (keydown)="$event.stopPropagation()"
          >
          <mat-option> Sıfırla</mat-option>
          <mat-option *ngFor="let unit of units" [class.hide-select]="targetUnitTextInput !== '' && unit.unitParentName.toLocaleUpperCase('tr-TR').indexOf(targetUnitTextInput.toLocaleUpperCase('tr-TR')) === -1" [value]="unit.unitParentId">{{unit.unitParentName}}</mat-option>
        </mat-select>
      </mat-form-field> -->

    </div>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="ilce" [sortable]="false">
  <ng-template ngx-datatable-header-template>
    <span>İlçe Adı</span>
  </ng-template>
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >
    <span
      title="Double click to edit"
      (dblclick)="enableEdit(row,rowIndex,value)"
      *ngIf="!editing[rowIndex]"
    >
    {{row.name}}
    </span>
    <div *ngIf="editing[rowIndex]">
      <!-- <mat-form-field *ngIf="editing[rowIndex]" class="d-flex align-items-center">
        <mat-label>Off Day</mat-label>
          <mat-select (openedChange)="closeSelectOff($event)" [placeholder]="'Off Day Seçiniz'" multiple [(ngModel)]="row.offDays"  required (selectionChange)="offDayChangeSelected($event.value,row,value)">
          <mat-option *ngFor="let offDay of offDayList" [class.hide-select]=""[value]="offDay">{{offDay.name}}</mat-option>

        </mat-select>
      </mat-form-field> -->

    </div>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="action" [sortable]="false">
  <ng-template ngx-datatable-header-template>
    <span>Aksiyon</span>
  </ng-template>
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >
    <div *ngIf="editing[rowIndex]">
      <!-- <mat-form-field *ngIf="editing[rowIndex]" class="d-flex align-items-center">
        <mat-label>Off Day</mat-label>
          <mat-select (openedChange)="closeSelectOff($event)" [placeholder]="'Off Day Seçiniz'" multiple [(ngModel)]="row.offDays"  required (selectionChange)="offDayChangeSelected($event.value,row,value)">
          <mat-option *ngFor="let offDay of offDayList" [class.hide-select]=""[value]="offDay">{{offDay.name}}</mat-option>

        </mat-select>
      </mat-form-field> -->

    </div>
  </ng-template>
</ngx-datatable-column>
</ngx-datatable>
    </div>
  </div>
</div>
